In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ngunguru,NZ,2020-07-11 23:44:09,-35.62,174.50,62.01,3,20,7.00
1,1,Chuy,UY,2020-07-11 23:44:09,-33.70,-53.46,44.55,70,49,5.88
2,2,Chabahar,IR,2020-07-11 23:43:18,25.29,60.64,84.04,85,87,8.84
3,3,Clyde River,CA,2020-07-11 23:44:09,70.47,-68.59,44.69,64,22,9.01
4,4,Bluff,NZ,2020-07-11 23:44:10,-46.60,168.33,47.23,80,99,18.07

In [4]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
# In the for loop, we're using the max() function to get the largest value between the temp and 0. 
# If the temp is less than 0, then 0 will be added to the list in its place. Otherwise, the temp is added to the list.

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Assign the figure variable.
fig = fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating = False, max_intensity = 300, 
                                 point_radius = 4)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating = False, max_intensity = 300, 
                                 point_radius = 4)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Chabahar,IR,2020-07-11 23:43:18,25.29,60.64,84.04,85,87,8.84
7,7,Hilo,US,2020-07-11 23:44:11,19.73,-155.09,82.40,65,75,8.05
11,11,Jiangyou,CN,2020-07-11 23:44:12,31.77,104.72,75.83,75,100,0.76
12,12,Pemangkat,ID,2020-07-11 23:44:12,1.17,108.97,76.75,87,24,4.90
16,16,Albany,US,2020-07-11 23:44:14,42.60,-73.97,80.01,78,87,7.02
23,23,Hasaki,JP,2020-07-11 23:44:16,35.73,140.83,82.00,83,75,9.17
26,26,Isabela,PH,2020-07-11 23:44:17,6.71,121.97,77.00,94,75,5.82
29,29,Alofi,NU,2020-07-11 23:44:19,-19.06,-169.92,75.20,94,74,16.11
31,31,Sumenep,ID,2020-07-11 23:44:19,-7.02,113.87,80.04,77,41,4.72
38,38,Butaritari,KI,2020-07-11 23:44:22,3.07,172.79,83.98,75,13,15.95

In [13]:
# Determine if there are any null values
preferred_cities_df.count()

City_ID       196
City          196
Country       196
Date          196
Lat           196
Lng           196
Max Temp      196
Humidity      196
Cloudiness    196
Wind Speed    196
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
2     Chabahar      IR     84.04  25.29   60.64
7         Hilo      US     82.40  19.73 -155.09
11    Jiangyou      CN     75.83  31.77  104.72
12   Pemangkat      ID     76.75   1.17  108.97
16      Albany      US     80.01  42.60  -73.97
23      Hasaki      JP     82.00  35.73  140.83
26     Isabela      PH     77.00   6.71  121.97
29       Alofi      NU     75.20 -19.06 -169.92
31     Sumenep      ID     80.04  -7.02  113.87
38  Butaritari      KI     83.98   3.07  172.79

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
    
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

          City Country  Max Temp    Lat     Lng                 Hotel Name
2     Chabahar      IR     84.04  25.29   60.64                هتل گدروشیا
7         Hilo      US     82.40  19.73 -155.09        Hilo Hawaiian Hotel
11    Jiangyou      CN     75.83  31.77  104.72      Shangping Shuyuan Inn
12   Pemangkat      ID     76.75   1.17  108.97          Kost H.Syamsuddin
16      Albany      US     80.01  42.60  -73.97
23      Hasaki      JP     82.00  35.73  140.83      Inubosaki Kanko Hotel
26     Isabela      PH     77.00   6.71  121.97              Isawad Resort
29       Alofi      NU     75.20 -19.06 -169.92              Taloa Heights
31     Sumenep      ID     80.04  -7.02  113.87  OYO 3271 Homestay Pandian
38  Butaritari      KI     83.98   3.07  172.79         Isles Sunset Lodge

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 1. We set the hotel_info equal to the info_box_content.

# 2. In the list comprehension, info_box_template.format(**row) for index, row in hotel_df.iterrows(), 
#    we iterate through each “row” of the hotel_df DataFrame and then format the info_box_template with the data 
#    we set to populate the from each row. Remember, we are not using every row; we are only using the rows defined 
#    in the info_box_template, which are Hotel Name, City, Country, and Max Temp.

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))