In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Import WeatherPy Database CSV
weatherpy_database_df = pd.read_csv("weather_data/WeatherPy_database.csv")
weatherpy_database_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rainfall(1hr),Snowfall(1hr)
0,0,Komsomolskiy,UZ,40.43,71.72,75.20,41,0,6.93,clear sky,0,0
1,1,Barrow,US,71.29,-156.79,46.40,75,1,25.28,clear sky,0,0
2,2,Kudahuvadhoo,MV,2.67,72.89,82.98,76,74,15.57,light rain,0,0
3,3,Yellowknife,CA,62.46,-114.35,73.40,46,40,10.29,scattered clouds,0,0
4,4,Tuatapere,NZ,-46.13,167.68,54.55,70,100,7.99,overcast clouds,0,0

In [3]:
weatherpy_database_df.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
Rainfall(1hr)            int64
Snowfall(1hr)            int64
dtype: object

In [4]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

# Ask the customer if they would like it to be snowing or raining.
#snow = input("Would you like it to be snowing? (yes/no)")
#if snow == "yes":
    #snow > 0
#else:
    #snow = 0

#rain = input("Would you like it to be raining? (yes/no)")
#if rain == "yes":
    #rain > 0
#else:
    #rain = 0

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 75

In [5]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = weatherpy_database_df.loc[(weatherpy_database_df["Max Temp"] >= min_temp) & \
                                               (weatherpy_database_df["Max Temp"] <= max_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rainfall(1hr),Snowfall(1hr)
3,3,Yellowknife,CA,62.46,-114.35,73.40,46,40,10.29,scattered clouds,0,0
4,4,Tuatapere,NZ,-46.13,167.68,54.55,70,100,7.99,overcast clouds,0,0
5,5,Rikitea,PF,-23.12,-134.97,73.29,84,74,14.67,broken clouds,0,0
7,7,Lena,ES,43.10,-5.73,68.00,88,75,6.93,broken clouds,0,0
8,8,Mataura,NZ,-46.19,168.86,53.58,74,100,3.20,overcast clouds,0,0

In [6]:
# Determine if there are any null values.

preferred_cities_df.count()

City_ID                278
City                   278
Country                274
Lat                    278
Lng                    278
Max Temp               278
Humidity               278
Cloudiness             278
Wind Speed             278
Current Description    278
Rainfall(1hr)          278
Snowfall(1hr)          278
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng", "Current Description"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.dropna()
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
3,Yellowknife,CA,73.40,62.46,-114.35,scattered clouds,
4,Tuatapere,NZ,54.55,-46.13,167.68,overcast clouds,
5,Rikitea,PF,73.29,-23.12,-134.97,broken clouds,
7,Lena,ES,68.00,43.10,-5.73,broken clouds,
8,Mataura,NZ,53.58,-46.19,168.86,overcast clouds,
9,Olden,NO,57.00,61.84,6.81,overcast clouds,
13,Vaini,TO,71.60,-21.20,-175.20,light intensity drizzle,
14,East London,ZA,59.40,-33.02,27.91,clear sky,
15,Iacu,BR,67.68,-12.77,-40.21,scattered clouds,
16,Mahebourg,MU,69.80,-20.41,57.70,broken clouds,

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
    
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
3,Yellowknife,CA,73.40,62.46,-114.35,scattered clouds,The Explorer Hotel
4,Tuatapere,NZ,54.55,-46.13,167.68,overcast clouds,Tom Cruse Refreshment Company
5,Rikitea,PF,73.29,-23.12,-134.97,broken clouds,Pension Maro'i
7,Lena,ES,68.00,43.10,-5.73,broken clouds,
8,Mataura,NZ,53.58,-46.19,168.86,overcast clouds,Ellie's Villa
9,Olden,NO,57.00,61.84,6.81,overcast clouds,Nesset Fjordcamping Olden
13,Vaini,TO,71.60,-21.20,-175.20,light intensity drizzle,Keleti Beach Resort
14,East London,ZA,59.40,-33.02,27.91,clear sky,Tu Casa
15,Iacu,BR,67.68,-12.77,-40.21,scattered clouds,Pousada e Restaurante Portal da Chapada
16,Mahebourg,MU,69.80,-20.41,57.70,broken clouds,Le Peninsula Bay Beach Resort & Spa

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 1. We set the hotel_info equal to the info_box_content.

# 2. In the list comprehension, info_box_template.format(**row) for index, row in hotel_df.iterrows(), 
#    we iterate through each “row” of the hotel_df DataFrame and then format the info_box_template with the data 
#    we set to populate the from each row. Remember, we are not using every row; we are only using the rows defined 
#    in the info_box_template, which are Hotel Name, City, Country, and Max Temp.

In [30]:
# Create a map with markers for each city within the search parameters.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
current_weather = hotel_df[["Current Description", "Max Temp"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)



# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

                   City Country  Max Temp    Lat     Lng Current Description  \
3           Yellowknife      CA     73.40  62.46 -114.35    scattered clouds
4             Tuatapere      NZ     54.55 -46.13  167.68     overcast clouds
5               Rikitea      PF     73.29 -23.12 -134.97       broken clouds
7                  Lena      ES     68.00  43.10   -5.73       broken clouds
8               Mataura      NZ     53.58 -46.19  168.86     overcast clouds
..                  ...     ...       ...    ...     ...                 ...
540              Touros      BR     73.40  -5.20  -35.46         shower rain
541             Esfahan      IR     68.00  32.66   51.68           clear sky
542  Havre-Saint-Pierre      CA     59.00  50.23  -63.60     overcast clouds
544           Abu Zabad      SD     73.76  12.35   29.25       broken clouds
547                Hovd      MN     63.72  48.01   91.64    scattered clouds

                        Hotel Name
3               The Explorer Hotel
4    Tom Cruse Refreshment Company
5                   Pension Maro'i
7
8                    Ellie's Villa
..                             ...
540                INN NEW HORIZON
541                   Abbasi Hotel
542              Auberge Niapiskau
544                 محي الدين نوري
547                    Hotel Khovd

[278 rows x 7 columns]